<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% extends "main.html" %}
    {% block content %}
    {% include "header.html" %}
  <h1>Edit: {{patron.name}}</h1>

    <form action='#' method='POST'>
      <p>Name:</p>
      <input type='text' size='30' name='name' placeholder='name'>
      <p>Email:</p>
      <input type='text' size='30' name='email' placeholder='email'>
      <p></p>
      <input class="btn "type='submit' value="Edit">
      <a class="btn" href='{{url_for('showPatron', patron_id=patron.id)}}'>Cancel</a>
    </form>



{% endblock %}
  </body>
</html>
